
body {
  background: beige;
  font-size: 14px;
  font-family: Futura, Arial;
}


div {font-weight: bold;}

h1 {
  font-size: 225%;
  font-family: Luckiest Guy;
}

h2 {
  font-size: 180%;
  font-family: Luckiest Guy;
}

h3, h4, h5, h6 {
  font-size: 125%;
  font-family: Luckiest Guy;
}

#map {
  width: 300px;
  height: 200px;
}

.special {
  font-style: italic;
}
